.container {
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 90%;
}

.editor, .console {
  height: 100%;
  width: 100%;
}

.console {
  background: #1E1E1E;
}

.color-blue {
  color: #59abf7;
}

.color-red {
  color: red;
}

.color-omited {
  color: #c2cd7b
}

.span-pre {
  white-space:pre-wrap;
}
